.prediction {
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin: 20px 10px;
}

.prediction-blue {
  color: #35b9da;
}

.canvas {
  border: 1px solid white;
}

#canvasImage {
  display: none;
  height: 392px;
  width: 392px;
}
