.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  margin-bottom: 20px;
}

.logo {
  cursor: pointer;
  text-decoration: underline;
  background-color: #35b9da;
  color: black;
  padding: 15px 20px;
  border-radius: 15px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}

.nav-links li a {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #35b9da;
}
